body{
    background-color: rgb(0, 0, 70);
}

h1{
    color: rgb(255, 255, 57);
    text-align: center;
    text-decoration: underline double;
    text-shadow: 5px -5px rgb(73, 73, 59);
    font-size: 35px;
    font-family: fantasy;
    border-radius: 20px;
    border-color: honeydew;
    border-width: 10px;
    border-style: dashed;
}

h2{
    color: rgb(247, 247, 180);
    text-align: left;
    text-decoration: underline;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color: cornsilk;
    text-align: left;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    width: 1000px;
}

ol{
    color: rgb(252, 211, 149);
    text-align: left;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

img{
    float: right;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border-style: dotted;
    border-color: rgb(255, 245, 108);
    border-width: 5px;
    margin: 20px;
}